# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# motor==3.4.0
# pymongo==4.7.2
# pydantic==2.7.1
# pydantic-settings==2.2.1
# httpx==0.27.0
# python-dotenv==1.0.1
# sentence-transformers==3.0.1
# numpy==1.26.4
# scikit-learn==1.4.2
# tenacity==8.3.0
# structlog==24.1.0
# python-ulid==2.2.0
# anyio==4.3.0














fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
httpx
python-dotenv
sentence-transformers
numpy
scikit-learn
tenacity
structlog
python-ulid
anyio
